/* https://github.com/hankchizljaw/modern-css-reset */
*,*::before,*::after{box-sizing:border-box}ul[class],ol[class]{padding:0}body,h1,h2,h3,h4,p,ul[class],ol[class],figure,blockquote,dl,dd{margin:0}body{min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed;line-height:1.5}ul[class],ol[class]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}img{max-width:100%;display:block}article>*+*{margin-top:1em}input,button,textarea,select{font:inherit}img:not([alt]){filter:blur(10px)}@media(prefers-reduced-motion:reduce){*{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

body {
	font: 16px/1.4em 'Source Sans Pro', sans-serif;
}

h1 {
	line-height: 1em;
}

h2 {
	margin-bottom: 10px;
}

.category-lists {
	margin: 20px 0;
}

.category-lists .caption {
	font-size: 0.8em;
	line-height: 1em;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.category-lists > div {
	margin-top: 10px;
}

.category-label, .location-label, .type-label {
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	padding: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.category-label:hover, .location-label:hover, .type-label:hover {
	cursor: pointer;
	background: #ccc;
}

.category-label.selected, .location-label.selected, .type-label.selected {
	color: #fff;
	background: #666;
	border-width: 3px;
	font-weight: bold;
}

.category-label.selected:after, .location-label.selected:after {
	content: "×";
	margin-left: 10px;
}

.category-everything.selected:after, .location-everywhere.selected:after{
	content: "";
	margin: 0;
}

.row {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 15px;
	line-height: 1.2em;
}

.row header {
	background-color: #eee;
	padding: 10px;
}

.row header.has-location:hover {
	background-color: #ddd;
	cursor: pointer;
}

.row header span {
	font-size: 0.8em;
	line-height: 1em;
}

.row-title {
	margin-top: 5px;
	font-size: 1.2em;
	line-height: 1em;
	font-weight: bold;
}

.row-description {
	padding: 10px;
}

.row p {
	margin-bottom: 5px;
}

.row .label {
	font-size: 0.8em;
	text-transform: uppercase;
}

.row .website-btn:link, .row .website-btn:visited {
	display: inline-block;
	background: #777;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
}

.row .website-btn:hover  {
	background: #666;
}

.row.map-selected {
	border: 5px solid #666;
	background: #eee;
}

.row.map-selected header {
	background-color: #ddd;
}

#map {
	width: 100%;
	height: 100%;
}

#map-wrap {
	width: 100%;
	height: 300px;
	position: sticky;
	top: 0;
}

#map-reset {
	background: #222;
    border: 3px solid #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 7px 14px;
    border-radius: 10px;
    z-index: 10000;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 20px #000;
}

#map-reset:hover {
	cursor: pointer;
	background: #444;
}

.leaflet-marker-icon i {
	/*text-shadow: 0 0 3px rgba(0,0,0,0.5);*/
	text-shadow: 0 0 2px #FFF;
}

.selected-marker i {
    font-size: 5em;
    line-height: 0.4em;
}

#list-wrap {
	padding: 20px;
}

@media(min-width: 700px) {
	#map-wrap {
		width: 50%;
		top: 0;
		bottom: 0;
		right: 0;
		height: auto;
		position: fixed;
	}
	#list-wrap {
		width: 50%;
	}
}

.hide-map #map-wrap {
	display: none;
}

.hide-map #list-wrap {
	width: 95%;
	max-width: 600px;
	margin: 0 auto;
}